
<div class="container">
    
    <div class="row">
        
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            
            <form 
            [formGroup]="userForm"
            class="form-horizontal" role="form"
            (ngSubmit)="Save(userForm.value)"
            >
                    <div class="form-group">
                        <legend>Form title</legend>
                    </div>
            <div class="form-group"
             [class.has-error]="!userForm.get('username').valid && submitted"
             [class.has-success]="userForm.get('username').valid"
            >
                    <input type="text"
                    placeholder="enter username"
                    class="form-control"
                    formControlName="username"
                    >
                    <div class="alert alert-danger"
                    *ngIf="userForm.get('username').hasError('required')
                      && submitted
                    "
                    >
                    username is required*
                </div>
                <div class="alert alert-danger"
                *ngIf="userForm.get('username').hasError('minlength')
                  && submitted
                "
                >
                username must be a 5 characters*
            </div>
            </div>
            <div class="form-group"
             formGroupName="UserLogin"
            >
                    <input type="password"
                    placeholder="enter password"
                    class="form-control"
                    formControlName="password"
                    >
                    <div class="alert alert-danger"
                    *ngIf="userForm.get('UserLogin').get('password').hasError('required')
                     && submitted
                    "
                    >
  password is required*
                    </div>
            </div>
            <div class="form-group"
             formGroupName="UserLogin"
            >
                    <input type="email"
                    placeholder="enter email"
                    class="form-control"
                    formControlName="email"
                    >
            </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit"
                            class="btn btn-primary">Submit</button>
                        </div>
                    </div>
            </form>
            
        </div>
        
    </div>
    
</div>
